<!-- Main -->
<main>
    <section class="section-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 pl-lg-0">
                    <div class="card card-menu">
                        <div class="menu-new mt 3">
                            <h2 class="heading-new-menu">Detail Menu Item</h2>
                            <div class="form-group">
                                <%= form_for(@menu) do |f| %>
                                    <%= f.label :name, { class: "control-label col-sm-3"} %> :  
                                    <%=  @menu.name %>
                                    </br>

                                    <%= f.label :price, { class: "control-label col-sm-3"} %> :  
                                    <%=  @menu.price %>
                                    </br>

                                    <%= f.label :note, { class: "control-label col-sm-3"} %> : 
                                    <%=  @menu.note %>
                                    </br>

                                    <%= f.label :categories, { class: "control-label col-sm-3"} %>
                                    <div class="col-sm-10">
                                        <% @menu.categories.each do |category| %>
                                            <%= f.check_box :categories, { multiple: true, checked: true }, category.id, false %> <%= category.name %> </br>
                                        <% end %>
                                    </div>
                                    </br>
                                    </br>

                                    <button type="submit" class="btn btn-add-new-menu-item">
                                        <%= link_to 'Back to Menu Items', menu_items_path %>
                                    </button>

                                    <button type="submit" class="btn btn-add-new-menu-item">
                                        <%= link_to 'Delete', menu_item_path(@menu), method: :delete, data: {confirm: "Are you sure?"}%>
                                    </button>

                                    <button type="submit" class="btn btn-add-new-menu-item">
                                        <%= link_to 'Edit', edit_menu_item_path(@menu)  %>
                                    </button>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section
</main>