<!-- Main -->
<main>
    <section class="section-index" id="index">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 text-left section-index-title">
                    <h2>Customers</h2>
                </div>

                <div class="col-md-6 col-sm-6 text-right section-add-menu">
                    <button type="submit" class="btn btn-add-new-menu-item">
                        <%= link_to 'Add New Customer', new_customer_path %>
                    </button>
                 </div>
            </div>
            </br>

            <div class="index-list col-md-8 col-sm-8" id="customer-table">
                <table class="table pretty table-responsive-sm text-center table-light table-striped" >
                    <thead>
                        <tr class="text-center">
                            <th>Name</th>
                            <th>Phone</th>
                            <th> </th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @customers.each do |customer| %>
                            <tr>
                                <td><%= customer.name %></td>
                                <td><%= customer.phone %></td>
                                <td class="text-center">
                                    <%= link_to 'Detail', customer_path(customer) %> |
                                    <%= link_to 'Edit', edit_customer_path(customer) %> |
                                    <%= link_to 'Delete', customer_path(customer), method: :delete, data: {confirm: "Are you sure?"} %> 
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <%= paginate @customers, params: { anchor: "customer-table" }  %>
            </div>
        </div>
    </section>
</main>
