<!-- Main -->
<main>
    <section class="section-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 pl-lg-12">
                    <div class="card card-category">
                        <div class="menu-new mt 3">
                            <h2 class="heading-new-menu">Cart</h2>
                            <div class="form-group">
                                <%= form_for(@order) do |f| %>
                                    <% if @order.errors.any? %>
                                        <ul>
                                            <% @order.errors.full_messages.each do |message| %>
                                                <li><%= message %></li>
                                            <% end %>
                                        </ul>
                                    <% end %>
                                    <%= f.label :customer_id, { class: "control-label col-sm-3"} %>
                                    <div class="col-sm-10">
                                        <%= f.select :customer_id, @customers.pluck(:name, :id), {prompt: "Select Customer"}, { class: "form-control" } %>
                                    </div>
                                    </br>
                                    </br>
                                    <h3>Cart</h3>
                                    </br>

                                    <table class='table'>
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>Menu Item</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody class='fields'>
                                            <%= f.fields_for :order_lines do |builder| %>
                                                <%= render 'order_line', f: builder %>
                                            <% end %>
                                        </tbody>
                                    </table>

                                    </br>

                                    
                                    <%= f.submit "Submit Order" , { class: "btn btn-save-menu mb-2 px-4" } %>
                                    <%= link_to_add_row('Add Menu Item', f, :order_lines, class: 'btn btn-save-menu mb-2 px-4') %>
                                    <button type="submit" class="btn btn-cancel">
                                        <%= link_to 'Back to Order List', orders_path %>
                                    </button>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
