<tr>
    <td>
        <%= f.hidden_field :_destroy%>
        <%= link_to 'Delete', '#', class: 'remove_record' %>
    </td>

    <td>
        <%= f.select :menu_item_id, @menus.pluck(:name, :id), {prompt: "Select Menu"}, {class: "form-control select-menu menus", id: "menus"} %>
    </td>

    <td>
        <%= f.text_field :price, :class => "form-control price", value: 0, id: "price"%>
    </td>

    <td>
        <%= f.text_field :quantity, :class => "form-control"%>
    </td>
<tr>

  