<!-- Main -->
<main>
    <section class="section-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 pl-lg-0">
                    <div class="card card-category">
                        <div class="menu-new mt 3">
                            <h2 class="heading-new-menu">Create Order</h2>
                                <div class="form-group">
                                    <%= form_for(@order) do |f| %>
                                        <%= f.label :name, { class: "control-label col-sm-3"} %>
                                        <div class="col-sm-10">
                                            <%= f.text_field :name, :class => "form-control", :placeholder => "Enter Order Name" %>
                                        </div>
                                        </br>
                                        <%= f.label :customer_id, { class: "control-label col-sm-3"} %>
                                        <div class="col-sm-10">
                                            <%= f.select :customer_id, @customers.pluck(:name, :id), {prompt: "Select Customer"}, { class: "form-control" } %>
                                        </div>
                                        </br>
                                        <button type="submit" class="btn btn-cancel">
                                            <%= link_to 'Cancel', orders_path %>
                                        </button>
                                        <%= f.submit "Save" , { class: "btn btn-save-menu mb-2 px-4" } %>
                                    <% end %>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
