<!-- Main -->
<main>
    <section class="section-index">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 pl-lg-0">
                    <div class="card card-menu">
                        <div class="menu-new mt 3">
                            <h2 class="heading-new-menu">Detail Order</h2>
                            <div class="form-group">
                                <%= form_for(@order) do |f| %>
                                    <%= f.label :name, { class: "control-label col-sm-3"} %> :  
                                    <%=  @order.name %>
                                    </br>

                                    <%= f.label :customer_id, { class: "control-label col-sm-3"} %> :  
                                    <%=  @customers.find_by(id: @order.customer_id).name %>
                                    </br>
                                    </br>

                                    <button type="submit" class="btn btn-add-new-menu-item">
                                        <%= link_to 'Back to Order List', orders_path %>
                                    </button>

                                    <button type="submit" class="btn btn-add-new-menu-item">
                                        <%= link_to 'Delete', order_path(@order), method: :delete, data: {confirm: "Are you sure?"}%>
                                    </button>

                                    <button type="submit" class="btn btn-add-new-menu-item">
                                        <%= link_to 'Edit', edit_order_path(@order)  %>
                                    </button>
                                <% end %>
                            </div>

                            <h4 class="heading-new-menu">Order Items for <%= @order.name %></h4>
                            <div class="index-list">
                                <table class="table table-responsive-sm text-center table-light table-striped" >
                                    <thead>
                                        <tr class="text-center">
                                            <th>Menu</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <% @order.order_line.each do |line| %>
                                            <tr>
                                                <td class="align-middle"><%= MenuItem.find_by(id: line.menu_item_id).name %></td>
                                                <td class="align-middle"><%= line.price%></td>
                                            </tr>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section
</main>